table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #000000;
    padding: 10px;
    background-color: #76f86d;
}