h2 {
    text-align: center;
    color: #4caf50;
    font-size: 50px;
    font-weight: bold;
}

#caro-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

#alert-turn {
    text-align: center;
    font-weight: bold;
}

#winner {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #DC143C;
    font-size: 25px;
    font-weight: bold;
    color: #8aff8a;
    cursor: pointer;
}

button:hover {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}