body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.block1 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}

#add-product {
    flex: 1;
    padding: 12px;
    max-width: 700px;
    width: 70%;
    border-radius: 5px;
}

button{
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0042ed;
    cursor: pointer;
}

.header-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.list-product {
    display: flex;
    flex-direction: column; /* xếp dọc */
    gap: 10px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-item p {
    font-weight: 500;
    flex: 1;
}

.product-actions {
    display: flex;
    gap: 5px;
}
.empty-state {
    text-align: center;
    padding: 20px;
}

.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    max-width: 370px;
    width: 80%;
}

.dialog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

